.bg-chocolate{
    background-color: #362706;
}

.bg-green{
    background-color: #464e2e;
}

.bg-pistache{
    background-color: #acb992;
}

.bg-cream{
    background-color: #e9e5d6;
}

.bg-fakewhite{
    background-color: #eaeaea;
}
.breadcrumb {
    color: #362706;
    left: 1000px;
}