*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

/* Fondo */
.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
/* 	background: url("../assets/images/2.png") no-repeat center;
	background-size: cover;
	filter: blur(50px); */
	z-index: -1;
}
.contact-box{
    border-radius: 25px;
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgba(233,229, 214);
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

/* Imagen de contacto */
.left{
    border-radius: 25px;
	background: url("../assets/images/1.png") no-repeat center;
	background-size: cover;
	height: 100%;
    
}

.right{
	padding: 25px 40px;
}

/* Título "Contáctanos */
h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

/* separador-línea "Contáctanos" */
/* h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #a81717cd;
} */

/* Cajas de información */
.field{
	border-radius: 25px;
	width: 100%;
	border: 2px solid rgba(181, 181, 181, 0.113);
	outline: none;
	background-color: rgb(255, 255, 255);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
    
}

.field:hover{
	background-color: rgba(170, 170, 170, 0.342);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	/* padding: 0.5rem 1rem;
	background-color: rgb(25, 135, 84);
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s; */
}

.btn:hover{
    background-color: rgb(25, 135, 84);
}

/* Contorno hover de cajas */
.field:focus{
    border: 2px solid rgba(111, 62, 20, 0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}
