/* Breadcrumb */
.breadcrumb a, span{
    text-decoration: none;
    color: #362706;
}

/* Galería página producto */

    /* galería imágenes */
.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

    /* Descripción producto */
.sproduct h3, .precio{
    text-align: center;
    color: #362706;
}

.sproduct p {
    text-align: justify;
    font-family: 'DM Serif Text';
    font-style: normal;
    color: #362706;
}

.sproduct input{
    width: 50px;
    height: 54px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
}

.sproduct input:focus {
    outline: none;
}

    /* botón agregar al carrito */
.buy-btn{
    background: #464E2E;
    font-family: 'DM Serif Text';
    font-style: normal;
    color: white;
}